{% extends "header.html" %}
{% block content %}

<header class="page-header header container-fluid">
    
        <div class="description learnMore">
            <h1>Group members</h1>
            <h3>Preeti Bairi, Robert Calkins, Gilbert Garczynski</h3>
            <br>
            <p> Our website is a password management system (i.e. lastpass) named <i>The Vault</i>. 
                Users will be able to create and access an account where they can store usernames and passwords for 
                specific apps or  websites. There will be other functionalities such as storing the 
                url of the website. Users will be able to organize and navigate 
                the system by searching for websites by name or selecting the 
                view all stored passwords buttons.</p>
        </div>

</header>
<br><br><br>

   
   
{% endblock %}