{% extends "header.html" %}
{% block content %}
<br><br><br>
<center><b><strong>Group members:  Preeti Bairi, Robert Calkins, Gilbert Garczynski</strong></b> </center>
<center><br><br><br>
    Description: Our website is a password management system (i.e. lastpass) 
    <br>named <i>The Vault</i>. Users will be able to create and access an account 
    <br>where they can store usernames and passwords for specific apps or 
    <br>websites. There will be other functionalities such as storing the 
    <br>url of the website. Users will be able to organize and navigate 
    <br>the system by searching for websites by name or selecting the 
    <br>view all stored passwords buttons.</center>
    <br><br><br>
{% endblock %}