{% extends "header.html" %}
{% block content %}

<header class="page-header header container-fluid index">
    <div class="overlay">
        <div class="description">
            <h1>Welcome to the Vault!</h1>
            <p>Never forget a password again. Come on, we've all been there, trying five or six passwords only to realize that somehow, it was the one that you thought you tried first... In this day and age, we are always signing up for new services and apps. With the Vault, all you have to do is remember your one master password. Even you can do that!</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('users.description') }}">Tell Me More!</a>
        </div>
    </div>

</header>


<div class="container features">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Vicky V</h3>
        <img src="../static/column-1.jpg" class="img-fluid">
        <p>Holy Crap! I would be so lost without the Vault. I can hardly remember my childrens names, let alone passwords. Thank you the Vault for making my life that much easier!</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Timmy T</h3>
        <img src="../static/column-2.jpg" class="img-fluid">
        <p>The Vault has changed my life for the better! I no longer get locked out of all my many accounts. It keeps my passwords safe and secure. All I need to do is login.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">    
        <h3 class="feature-title">Get in Touch!</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" name="">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" name="email">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="4"></textarea>
        </div>
        <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">    
      </div>
    </div> 
  </div>

  

{% endblock %}