{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">
        <div class="media-body">
        <strong>
                        <br> App:  {{ result.app }}
                        </strong>
                        <br> Username: {{ result.username }} 
                        <br> Password: {{ result.password }}
                        <br> Link:{{ result.appLink }}   
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}