{% extends "header.html" %}
{% block content %}

<header class="page-header header container-fluid">

    <div class="registration">
        <h1>Registration</h1>
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                
                {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                {% if form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
            
                {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                {% if form.email.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
            
                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                {% if form.password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                
                {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
                {% if form.confirm_password.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control form-control-lg") }}
            </div>
        </form>
        <p>If you already have an account, then just <a href="{{ url_for('users.login') }}">Log In!</a></p> 

    </div>
</header>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
        <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>1640 Riverside Drive, Hill Valley, California
        <br/>info@mywebsite.com
        <br/>+ 01 234 567 88
        <br/>+ 01 234 567 89</p>
      </div>
    </div>
    <div class="footer-copyright text-center">© 2020 Copyright: MyWebsite.com</div>
  </footer>


{% endblock %}