{% extends "header.html" %}
{% block content %}

<header class="page-header header container-fluid">
    <div class="passwords">
        <h2>{{ username }}'s Passwords</h2>
        <div class="row">
            <div class="col">
                <small class="float-right">{{ passwords.count() }} passwords</small>

                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">App</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Link</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for password in passwords %}
                      <tr>
                        <th scope="row">{{ password.app }}</th>
                        <td>{{ password.username }} </td>
                        <td>{{ password.password }}</td>
                        <td><a href="url">{{ password.appLink }} </td>
                      </tr>
                        {% endfor %}
                    </tbody>
                  </table>










        <a href="{{ url_for('passwords.app_details') }}">
            <h4>Store a New Password!</h4>
        </a>
    </div>
   
</header>

{% endblock %}