{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        <h2>{{ username }}'s Passwords</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Passwords <small class="float-right">{{ passwords.count() }} passwords</small></h1>
        <ul class="media-list">
            {% for password in passwords %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ password.app }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('passwords.app_detail') }}">
                            {{ password.appLink }}
                        </a>
                    </strong>
                    <p>
                        {{ password.username }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}